@import 'variables';
@import 'types';

body {
    font-family: 'Press Start 2P', cursive;
}

#navBar {
    display: flex;
    color: white;
    background-color: $fondonav;
}

.pkdx-section {
    padding:30px;
    display: flex;
    justify-content: center;
    background-image: url("../imgs/fondo1.png");    
    .pkm-img-card {
        border: 5px solid $yellow-borders;
        border-radius: 10%;
        margin: 10px;
        background-image: url(../imgs/fondo2.png);
        img{
            width: 300px;
            height: 300px;
        }
    }
    .pkm-info-card {
        border-radius: 10%;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: left;
        margin: 10px;
        background-color: $yellow-background;
        color: $card-text;
        padding: 20px;
        height: 150px;
        width: 400px;
        font-size: 17px;
        span {
            margin: 5px;
        }
        div {
            margin: 5px;
            display:flex;
            span {
                border-radius: 7px;
                border: 1.5px solid $card-text;
                padding: 7px;
                color: white;
            }
        }
    }
}
