@import 'variables';
@import 'types';

html {
    margin:0;
}
body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    display: flex;
    justify-content: center;
}

.pokedex {
    background-image: url('../imgs/flat\,750x\,075\,f-pad\,750x1000\,f8f8f8.u2.jpg');
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 1346px;
    height: 981px;
    display: flex;
    padding-bottom: 80px;
    padding-left: 70px;
    padding-right:30px;
    padding-top: 240px;

    .pkdx-section {
        width: 573px;
        margin: 25px;
    }
}

#pkdx-img-section {
    margin-top: 5px;
    margin-right: 95px;
    margin-left: 75px;
    margin-bottom: 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../imgs/fondo1.png");
    background-size: 50px;  
    border-radius: 5px;  
    .pkm-img-card {
        border: 10px solid $yellow-borders;
        border-radius: 10%;
        margin: 10px;
        background-image: url(../imgs/fondo2.png);
        background-size: 50px;  
        img{
            width: 280x;
            height: 280px;
        }
    }
}


#pkdx-info-section {
    display: flex;
    flex-direction:column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 40px;
    padding: 0;
   
    .pkm-info-card {
        border-radius: 15px;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        
        background-color: $yellow-background;
        color: $card-text;
        padding: 20px;
        height: 150px;
        width: 500px;
        font-size: 22px;
        span {
            margin: 5px;
            text-align: center;
        }
        div {
            margin: 5px;
            display:flex;
            span {
                border-radius: 7px;
                border: 1.5px solid $card-text;
                padding: 7px;
                color: white;
            }
        }
    }

    

    #navBar {
        display: flex;
        align-items: center;
        color: white;
        background-color: $fondonav;
        box-sizing: border-box;

        input {
            box-sizing: border-box;
            border-radius: 6px;
            height: 30px ;
            padding: 3px;
            padding-left: 6px;
            font-family: 'Press Start 2P', cursive;
        }

        div {
            margin: 7px;
        }
        button {
            font-family: 'Press Start 2P', cursive;
            
            box-sizing: border-box;
            height: 40px;
            border-radius: 6px;
            border:none;
        }
    }

}
