@import 'variables';
@import 'types';

html {
    margin:0;
}
body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: $background;
}

.main-bttn {      
    color: $card-text;
    box-sizing: border-box;
    margin:5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    border-radius: 6px;
    border:none;
    cursor: pointer;

}

.pokedex {
    margin: 20px;
    background-image: url('../imgs/pokedex.png');
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 942px;
    height: 687px;
    display: flex;
    padding-bottom: 56px;
    padding-left: 44px;
    padding-right:21px;
    padding-top: 178px;
    box-shadow: -10px 10px 9px -5px rgba(0,0,0,1);
    border-radius: 13px;

    .pkdx-section {
        width: 50%;
        margin: 17.5px;
    }
}

#pkdx-img-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 7px;
    margin-right: 108.5px;
    margin-left:21px;
    margin-bottom: 63px;
    border-radius: 7px;  
    box-shadow: inset -10px 10px 5px 0px rgba(0, 0, 0, 0.28);
    background-image: url("../imgs/fondo1.png");
    background-size: 50px;  
  
    

    .pkm-img-card {
        border: 10px solid $yellow-borders;
        border-radius: 10%;
        margin: 7px;
        background-image: url(../imgs/fondo2.png);
        background-size: 50px;  
        box-shadow: 0px 0px 10px 4px rgba(99, 99, 99, 0.18);
        img{
            width: 196px;
            height: 196px;
        }
    }
}


#pkdx-info-section {
    display: flex;
    flex-direction:column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 28px;
    padding: 0;
   
    .pkm-info-card {
        border-radius: 15px;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 7px;
        background-color: $infoscreen-background;
        color: white;
        padding: 14px;
        height: 105px;
        width: 350px;
        font-size: 12px;
        box-shadow: inset -10px 10px 5px 0px rgba(0,0,0,0.75);
        span {
            margin: 5px;
            text-align: center;
        } 
        div {
            margin: 5px;
            display:flex;
            color: $card-text;
            span {
                border-radius: 7px;
                border: 1.5px solid $card-text;
                padding: 7px;
                color: $yellow-borders;
            }
            #pkm-id-name #pkm-ability {
                color: white;
            }
        }
    }

    #search-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: $fondonav;
        box-sizing: border-box;
        width: 350px;
        padding:14px;
        border-radius: 6px;
        box-shadow: inset 0px 15px 5px -6px  $highlight-nav;
        box-shadow: 0px 0px 9px 0px rgba(4,120,209,1);
        input {
            box-sizing: border-box;
            border-radius: 6px;
            height: 28px ;
            width:330px;
            padding: 6px;
            font-family: 'Press Start 2P', cursive;
            font-size: 16px;
        }

        #buttons-wraper {
            display: flex;
            margin: 5px;
            width: 100%;
            padding:7px;
            box-sizing: border-box;
            button {
                width: 50%;
                height: 28px;
                box-shadow:6px 6px 3px 0px $shadow-nav;
                
                &:active {
                    box-shadow: inset 5px 5px 5px 0px rgba(112,112,112,1);
                    transform: translateY(4px);
                    border: none;
                }
            }
        }
    }

    #nav-bar {
        display: flex;
        width: 100%;
        padding: 7px;
        margin: 5px;
        margin-top:28px;
        button {
            background-color: white;            
            width: 30%;
            height: 35px;
            box-shadow:5px 5px 5px 0px rgba(0,0,0,0.75);

            &:active {
                box-shadow: inset 5px 5px 5px 0px rgba(112,112,112,1);
                transform: translateY(4px);
                border: none;
            }
            .fas{
                font-size:21px;
                color: $card-text;
            }
        }
    }
}
